/* Resetando limitações do #root */
#root {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Navbar */
  .navbar {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  /* Efeito hover na navbar */
  .navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  /* Ajuste para evitar sobreposição da navbar */
  body {
    padding-top: 60px; 
    background-color: #f4f4f4;
  }
  
  /* Estilização dos cards (seções) */
  .section {
    width: 90%; /* Ocupar quase toda a largura da tela */
    max-width: 1400px; /* Limite para telas grandes */
    margin: 40px auto; /* Centraliza */
    padding: 50px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Ajuste do conteúdo dos cards */
  .section h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  .section p {
    font-size: 1.2rem;
    text-align: center;
  }
  
  .section ul {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 0;
    text-align: left;
  }
  
  /* Ajuste da responsividade */
  @media (max-width: 1024px) {
    .section {
      width: 95%;
      padding: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .section {
      width: 98%;
      padding: 20px;
    }
  }
  
  /* Footer */
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
    font-size: 1.2rem;
    margin-top: 50px;
  }
  
  /* Estilização do botão do contador */
  button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Estilização do Logo */
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  img, #img{
    width: 70%;
    height: 50%;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  /* Animação do Logo */
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  